@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css');

body{
   padding:0 !important; 
   margin: 0 !important;
}
.formulario{
   margin-top: 30px;
   margin-bottom: 30px;
}

.formulario{
   margin-top: 20px;
}

.tituloDelFormulario{
   text-align: center;
   margin: 30px 0px;
}

.copyright{
   background-color: rgba(0, 0, 0, 0.2);
}

.cardsRoom{
  margin-bottom: 30px;
}
      